body {
    height: 100vh;
    width: 100vw;
}

.main {
    padding-top: 4rem;
    padding-right: 1.5rem;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.sidebar{
    height: 100%;
    color: white;
    background-color: rgb(2, 54, 71);
    text-align: center;
    padding: 0.5rem;
    position: relative;
}

.social-links{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
}

.container-row{
    height: 100%;
}
.container-fluid {
    padding: 0;
    height: 100%;
}

.profile-pic {
    border-radius: 1rem;
    margin: 1rem;
    width: 90%;
}

.navigation-link {
    color: white;
    text-decoration: none;
}

.navigation-item:hover {
    font-style: italic;
}

.navigation-link:hover {
    color: white;
}

.navigation-links {
    list-style-type: none;
    text-align: left;
    padding: 1rem;
}

.navigation-item {
    padding-left: 1rem;
}

.active {
    background-color: rgba(178, 187, 195, 0.66);
    font-weight: bold;
}

.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
    position: relative;
}

.bio-text {
    margin: 2rem;
    z-index: 2;
    position: relative;
    font-family: Copperplate;
}

.card {
    z-index: 2;
    position: relative;
}
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .fa-envelope {
    background-color: transparent;
    border: 1px solid #007bb5;
    color: white;
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
